/* Color Theme Swatches in Hex */
@keyframes moveUp {
  0% {
    bottom: 0;
    height: 0.1rem;
  }
  85% {
    height: 100%;
  }
  15% {
    height: 100%;
  }
  100% {
    height: 0.1rem;
    bottom: calc(100% - 0.1rem);
  }
}

@keyframes moveDown {
  0% {
    bottom: calc(100% - 0.1rem);
    height: 0.1rem;
  }
  15% {
    height: 100%;
  }
  85% {
    height: 100%;
  }
  100% {
    height: 0.1rem;
    bottom: 0;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  display: grid;
  background: url(../images/ep_naturalblack.png);
}

header {
  background-color: rgba(13, 13, 13, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 17.5vw;
  height: 100vh;
  z-index: 1000;
  transform: translateX(-17.5vw);
  transition: all 0.5s;
  border-right: 0.025rem solid #f2bb16;
}

header .title,
header .subtitle {
  margin-top: 5vh;
  margin-left: 1vw;
  color: #f2bb16;
  text-align: left;
  text-transform: uppercase;
  line-height: 0.8;
}

header .title span:nth-child(1),
header .subtitle span:nth-child(1) {
  color: white;
  font-weight: 300;
  font-style: italic;
}

header .title span:nth-child(2),
header .subtitle span:nth-child(2) {
  font-weight: 700;
}

header .subtitle {
  font-weight: 300;
  font-style: italic;
}

header .input-container {
  position: relative;
  width: 100%;
  padding: 1rem;
}

header .input-container .input-text {
  position: absolute;
  top: 2.75rem;
  left: 1.5rem;
  font-size: 0.9rem;
  color: rgba(230, 230, 230, 0.6);
  transition: all 0.25s;
  font-weight: 300;
}

header .input-container #input-rating {
  background-color: transparent;
}

header .input-container #input-rating .ratings-option {
  color: #0d0d0d;
}

header .input-container .input {
  position: relative;
  z-index: 1000;
  margin: 2rem auto 0;
  padding: 0.2rem;
  border: 0;
  background-color: transparent;
  border-bottom: #737373 1px solid;
  color: #efefef;
  font-size: 1rem;
  width: 90%;
}

header .input-container .input:focus {
  box-shadow: 0;
  outline: 0;
}

header .input-container .underscore::before,
header .input-container .underscore::after {
  position: absolute;
  z-index: 1001;
  content: "";
  bottom: 1rem;
  height: 0.15rem;
  width: 0;
  transition: 0.5s all;
}

header .input-container #input-number:invalid ~ .underscore::before,
header .input-container #input-number:invalid ~ .underscore::after {
  background-color: #bd0000;
}

header .input-container input[type=number]::-webkit-inner-spin-button,
header .input-container input[type=number]::-webkit-outer-spin-button {
  cursor: pointer;
  color: #f2bb16;
  padding: 1.125rem;
  transform: rotate(90deg);
  margin: auto .1rem;
}

header .input-container .underscore::before {
  left: 50%;
  background-color: #f2bb16;
}

header .input-container .underscore::after {
  right: 50%;
  background-color: #f2bb16;
}

header .input-container .input:focus ~ .underscore::before {
  width: 40%;
}

header .input-container .input:focus ~ .underscore::after {
  width: 45%;
}

header .input-container #input-topic:focus + .input-text,
header .input-container #input-rating:focus + .input-text {
  top: 1.25rem;
  left: 4rem;
  font-size: 1.3rem;
  color: #eee;
}

header .input-container #input-number:focus + .input-text {
  top: 0.75rem;
  left: 2rem;
  font-size: 1.25rem;
  color: #eee;
}

header .reset-gifs-container {
  width: 100%;
  height: 100%;
  position: relative;
}

header .reset-gifs-container #reset-gifs {
  position: absolute;
  left: 50%;
  top: 10rem;
  transform: translateX(-50%);
  padding: 1rem 1.5rem;
  width: 90%;
  color: #f2bb16;
}

header .reset-gifs-container #reset-gifs:hover {
  border-left: 0.1rem solid #f2bb16;
  border-right: 0.1rem solid #f2bb16;
  border-bottom: 0.1rem solid #f2bb16;
}

header .reset-gifs-container #reset-gifs::after {
  background-color: #f2bb16;
}

header .submit-topic-container {
  width: 90%;
}

header .submit-topic-container #submit-topic {
  position: relative;
  z-index: 1000;
  display: block;
  opacity: 0;
  transform: scale(0.001);
  margin-left: auto;
  padding: 0.4rem 1rem;
  border-bottom: 0.1rem solid #efefef;
  color: #efefef;
}

header .submit-topic-container #submit-topic:hover {
  border-left: 0.1rem solid #efefef;
  border-right: 0.1rem solid #efefef;
}

header .submit-topic-container #submit-topic::after {
  background-color: #efefef;
}

main {
  background: url(../images/ep_naturalblack.png);
  margin-left: auto;
  width: 95vw;
  transition: all 0.5s;
  position: relative;
}

main .btn-list {
  margin-bottom: 2.5vh;
  margin-top: 2.5vh;
  margin-left: 5rem;
  margin-right: 2.5rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, 6rem);
  grid-column-gap: 0.75rem;
  grid-row-gap: 1rem;
  height: auto;
  padding-bottom: 1rem;
  border-bottom: 0.25rem solid #f2bb16;
}

main .btn-list .btn-topic {
  display: block;
  text-align: center;
  position: relative;
  cursor: pointer;
  font-size: 0.75rem;
  background-color: transparent;
  border: #f2a516 0.1rem solid;
  padding: 0.75rem 0rem;
  border-radius: 1.75rem;
  color: #f2a516;
  font-weight: 500;
  transform: scale(1);
  transition: 0.25s all;
}

main .btn-list .btn-topic:hover {
  color: #ededed;
  background-color: #f2a516;
  transform: scale(1.1);
}

main .btn-list .btn-topic:focus {
  outline: 0;
  box-shadow: 0;
}

main .gif-list {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 2.5rem;
  grid-row: auto;
  grid-template-columns: repeat(auto-fill, 15rem);
  max-width: 95%;
  min-height: 80vh;
  margin: 0 auto;
  height: auto;
}

main .gif-list .gif-container {
  position: relative;
  height: 14rem;
}

main .gif-list .gif-container .gif {
  position: absolute;
  left: 50%;
  bottom: 40%;
  text-align: center;
  margin: 0 auto;
  transform: scale(1) translate(-50%, 50%);
  max-width: 100%;
  max-height: 85%;
  transition: 0.7s all;
}

main .gif-list .gif-container .gif:hover {
  border-radius: .2rem;
  transform: scale(1.4) translate(-37.5%, 37.5%);
  z-index: 250;
  width: auto;
}

main .gif-list .gif-container .gif:hover + .download-link {
  opacity: 1;
  z-index: 500;
  transition: .55s all .25s;
}

main .gif-list .gif-container .download-link {
  opacity: 0;
  position: absolute;
  z-index: 500;
  left: 50%;
  bottom: 0%;
  text-align: center;
  transform: translate(-50%, 50%);
  width: 100%;
  padding: 1rem;
  color: #dedede;
  border: #dedede .05rem solid;
  border-radius: .15rem;
  background-color: rgba(99, 99, 99, 0.65);
  text-decoration: none;
  transition: .25s all;
}

main .gif-list .gif-container .download-link:hover {
  opacity: 1;
  z-index: 500;
  transition: .55s all .25s;
}

main .gif-list .gif-container .gif-rating {
  color: #f2911b;
  text-align: center;
  border-bottom: .1rem solid #ededed;
  margin: 1rem 4rem 0;
}

.toggle-switch {
  color: #efefef;
  cursor: pointer;
  font-size: 3rem;
  position: fixed;
  z-index: 1001;
  left: 2%;
  top: 0.5%;
  transform: translateX(0) rotateX(0) rotateZ(0);
  transition: 0.25s all 0.1s linear;
}

.slideRightHeader {
  transform: translateX(0);
}

.slideRightToggle {
  left: 17%;
  transform: translateX(-125%) rotateX(180deg) rotateZ(180deg);
  color: #f2911b;
}

.widthToggle {
  width: 82.5%;
}

.remove-btn {
  position: absolute;
  left: 10%;
  font-weight: 700;
  color: #bd0000;
  z-index: 1000;
}

.btn-submit {
  border: 0;
  cursor: pointer;
  background-color: transparent;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  transition: 0.5s all;
  overflow: hidden;
}

.btn-submit:focus {
  outline: 0;
  box-shadow: 0;
}

.btn-submit::after {
  position: absolute;
  content: "";
  z-index: 999;
  bottom: 0;
  left: 0;
  right: 0;
  height: 0.1rem;
  width: 100%;
  animation-name: moveDown;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}

.btn-submit:hover::after {
  animation-name: moveUp;
  animation-duration: 0.5s;
  animation-fill-mode: both;
}
/*# sourceMappingURL=style.css.map */