/* Color Theme Swatches in Hex */
$yellow-pure: #f2bb16;
$yellow-dark: #f2a516;
$orange-pure: #f2911b;
$low-gray: #737373;
$black: #0d0d0d;
$black-transparent: rgba(13, 13, 13, 0.5);

$alert: #bd0000;
$alert-transparent: hsla(0, 100%, 37%, 0.25);

@keyframes moveUp {
    0% {
        bottom: 0;
        height: 0.1rem;
    }

    85% {
        height: 100%;
    }

    15% {
        height: 100%;
    }
    100% {
        height: 0.1rem;
        bottom: calc(100% - 0.1rem);
    }
}

@keyframes moveDown {
    0% {
        bottom: calc(100% - 0.1rem);
        height: 0.1rem;
    }

    15% {
        height: 100%;
    }

    85% {
        height: 100%;
    }
    100% {
        height: 0.1rem;
        bottom: 0;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Quicksand", sans-serif;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    display: grid;
    // grid-template-columns: 1fr 5fr;
    background: url(../images/ep_naturalblack.png);
}

header {
    background-color: $black-transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 17.5vw;
    height: 100vh;
    z-index: 10;
    transform: translateX(-17.5vw);
    transition: all 0.5s;
    border-right: 0.025rem solid $yellow-pure;

    .title {
        margin-top: 5vh;
        margin-left: 1vw;
        color: $yellow-pure;
        text-align: left;
        text-transform: uppercase;
        line-height: 0.8;

        span:nth-child(1) {
            color: white;
            font-weight: 300;
            font-style: italic;
        }

        span:nth-child(2) {
            font-weight: 700;
        }
    }

    .input-container {
        position: relative;
        width: 100%;
        padding: 1rem;
        // background-color: tomato;

        .input-text {
            position: absolute;
            top: 2.75rem;
            left: 1.5rem;
            font-size: 0.9rem;
            color: rgba(230, 230, 230, 0.6);
            transition: all 0.25s;
            font-weight: 300;
        }

        #input-rating {
            background-color: transparent;

            .ratings-option {
                color: $black;
            }
        }

        .input {
            position: relative;
            z-index: 1000;
            margin: 2rem auto 0;
            padding: 0.2rem;
            border: 0;
            background-color: transparent;
            border-bottom: #737373 1px solid;
            color: #efefef;
            font-size: 1rem;
            width: 90%;

            &:focus {
                box-shadow: 0;
                outline: 0;
            }
        }

        .underscore::before,
        .underscore::after {
            position: absolute;
            z-index: 1001;
            content: "";
            bottom: 1rem;
            height: 0.15rem;
            width: 0;
            transition: 0.5s all;
        }

        #input-number:invalid ~ .underscore::before,
        #input-number:invalid ~ .underscore::after {
            background-color: #bd0000;
        }

        // #input-number:valid ~ .underscore::before,
        // #input-number:valid ~ .underscore::after {
        //     background-color: #00bd00;
        // }

        .underscore::before {
            left: 50%;
            background-color: $yellow-pure;
        }

        .underscore::after {
            right: 50%;
            background-color: $yellow-pure;
        }

        .input:focus ~ .underscore {
            &::before {
                width: 40%;
            }

            &::after {
                width: 45%;
            }
        }

        #input-topic:focus + .input-text,
        #input-rating:focus + .input-text {
            top: 1.25rem;
            left: 4rem;
            font-size: 1.3rem;
            color: #eee;
        }

        #input-number:focus + .input-text {
            top: 0.75rem;
            left: 2rem;
            font-size: 1.25rem;
            color: #eee;
        }
    }

    .reset-gifs-container {
        width: 100%;
        height: 100%;
        position: relative;

        #reset-gifs {
            position: absolute;
            left: 50%;
            top: 3rem;
            transform: translateX(-50%);
            padding: 1rem 1.5rem;
            width: 90%;
            color: $yellow-pure;

            &:hover {
                border-left: 0.1rem solid $yellow-pure;
                border-right: 0.1rem solid $yellow-pure;
                border-bottom: 0.1rem solid $yellow-pure;
            }

            &::after {
                background-color: $yellow-pure;
            }
        }
    }

    .submit-topic-container {
        width: 90%;

        #submit-topic {
            position: relative;
            z-index: 1000;
            display: block;
            opacity: 0;
            transform: scale(0.001);
            margin-left: auto;
            padding: 0.4rem 1rem;
            border-bottom: 0.1rem solid #efefef;
            color: #efefef;

            &:hover {
                border-left: 0.1rem solid #efefef;
                border-right: 0.1rem solid #efefef;
            }

            &::after {
                background-color: #efefef;
            }
        }
    }
}

main {
    background: url(../images/ep_naturalblack.png);
    margin-left: auto;
    width: 95vw;
    transition: all 0.5s;
    height: 150vh;
    position: relative;

    .btn-list {
        margin-bottom: 2.5vh;
        margin-top: 2.5vh;
        margin-left: 5rem;
        margin-right: 2.5rem;
        display: grid;
        grid-template-columns: repeat(auto-fill, 6rem);
        grid-column-gap: 0.75rem;
        grid-row-gap: 1rem;
        height: auto;
        padding-bottom: 1rem;
        border-bottom: 0.25rem solid $yellow-pure;
        .btn-topic {
            display: block;
            text-align: center;
            position: relative;
            cursor: pointer;
            font-size: 0.75rem;
            background-color: transparent;
            border: $yellow-dark 0.1rem solid;
            padding: 0.75rem 0rem;
            border-radius: 1.75rem;
            color: $yellow-dark;
            font-weight: 500;
            transform: scale(1);
            transition: 0.25s all;

            &:hover {
                color: #ededed;
                background-color: $yellow-dark;
                transform: scale(1.1);
            }

            &:focus {
                outline: 0;
                box-shadow: 0;
            }
        }
    }

    .gif-list {
        display: grid;
        grid-column-gap: 1.5rem;
        grid-row-gap: 0.5rem;
        grid-row: auto;
        grid-template-columns: repeat(auto-fill, 15rem);
        max-width: 95%;
        min-height: 80vh;
        margin: 0 auto;
        height: auto;
        // background-color: #F2BB16;

        img {
            position: relative;
            text-align: center;
            margin: 0 auto;
            transform: scale(1);
            max-width: 100%;
            height: auto;
            transition: 0.7s all;

            &:hover {
                border-radius: 1rem;
                transform: scale(1.4);
                z-index: 250;
                width: auto;
            }
        }
    }
}

.toggle-switch {
    color: #efefef;
    cursor: pointer;
    font-size: 3rem;
    position: fixed;
    z-index: 100;
    left: 2%;
    top: 0.5%;
    transform: translateX(0) rotateX(0) rotateZ(0);
    transition: 0.25s all 0.1s linear;
}

.slideRightHeader {
    transform: translateX(0);
}

.slideRightToggle {
    left: 17%;
    transform: translateX(-125%) rotateX(180deg) rotateZ(180deg);
    color: $orange-pure;
}

.widthToggle {
    width: 82.5%;
}

.remove-btn {
    position: absolute;
    left: 10%;
    font-weight: 700;
    color: $alert;
    z-index: 1000;
}

.btn-submit {
    border: 0;
    cursor: pointer;
    background-color: transparent;
    border-left: 0.1rem solid transparent;
    border-right: 0.1rem solid transparent;
    transition: 0.5s all;
    overflow: hidden;

    &:focus {
        outline: 0;
        box-shadow: 0;
    }

    &::after {
        position: absolute;
        content: "";
        z-index: 999;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.1rem;
        width: 100%;
        animation-name: moveDown;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }

    &:hover::after {
        animation-name: moveUp;
        animation-duration: 0.5s;
        animation-fill-mode: both;
    }
}